/*
 * Styles for the Gutenberg editor to match the front end
 */

.gutenberg-editor-page .editor-post-title__block .editor-post-title__input {
	color: #333333;
	font: bold 2.25em Tahoma, "Trebuchet MS", Geneva, sans-serif;
	line-height: 1em;
}

.gutenberg-editor-page .editor-styles-wrapper {
	font-family: Tahoma, "Trebuchet MS", Geneva, sans-serif;
	color: #333333;
}

.gutenberg-editor-page .editor-styles-wrapper p,
.gutenberg-editor-page .editor-rich-text__tinymce,
.gutenberg-editor-page .editor-styles-wrapper .mce-content-body {
	line-height: 1.5em;
}

.gutenberg-editor-page .editor-rich-text a {
	color: #800000;
}

.gutenberg-editor-page .editor-rich-text__tinymce:focus a[data-mce-selected] {
	color: #f08080;
}

.gutenberg-editor-page .wp-block-quote {
	background-color: #f5f5f5;
	margin-left: 5%;
	padding: 1em;
}

.gutenberg-editor-page .wp-block-quote.is-style-large {
	padding: 2em;
}

.gutenberg-editor-page .wp-block-quote,
.gutenberg-editor-page .wp-block-quote__citation {
	font-style: italic;
}

.gutenberg-editor-page .wp-block-quote__citation {
	font-size: 1em;
	color: #333333;
}

.gutenberg-editor-page .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: none;
}

.gutenberg-editor-page .wp-block-pullquote.is-style-default {
	border-bottom: 2px solid #c0c0c0;
	border-top: 2px solid #c0c0c0;
}

.gutenberg-editor-page .wp-block-pullquote blockquote > .editor-rich-text p,
.gutenberg-editor-page .wp-block-pullquote .wp-block-pullquote__citation {
	font-style: italic;
}

.gutenberg-editor-page .wp-block-pullquote .wp-block-pullquote__citation {
	text-transform: unset;
	font-size: 1em;
}

.gutenberg-editor-page .wp-block-button {
	font-weight: bold;
}

.gutenberg-editor-page .wp-block-button .wp-block-button__link {
	border-radius: 0;
}

.gutenberg-editor-page .wp-block-button__link:not(.has-background),
.gutenberg-editor-page .wp-block-button__link:not(.has-background):active,
.gutenberg-editor-page .wp-block-button__link:not(.has-background):focus,
.gutenberg-editor-page .wp-block-button__link:not(.has-background):hover {
	background-color: #800000;
}

.gutenberg-editor-page .wp-block-gallery .blocks-gallery-image figcaption,
.gutenberg-editor-page .wp-block-gallery .blocks-gallery-item figcaption {
	background: rgba(0, 0, 0, 0.3);
}

.gutenberg-editor-page .wp-block-image figcaption {
	color: #333333;
}

.gutenberg-editor-page .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout {
	flex-wrap: wrap;
}

@media (min-width: 85.375em) {
	.gutenberg-editor-page .wp-block-columns.has-3-columns,
	.gutenberg-editor-page .wp-block-columns.has-4-columns,
	.gutenberg-editor-page .wp-block-columns.has-5-columns,
	.gutenberg-editor-page .wp-block-columns.has-6-columns {
		margin-left: calc(12.5% - 12.5vw);
		margin-right: calc(12.5% - 12.5vw);
	}
	
	.gutenberg-editor-page .wp-block-columns.has-5-columns > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: 33%;
	}
}
